@font-face {
    font-family: "Inter", sans-serif;
    src: url("./fonts/Inter/static/Inter-Regular.ttf") format("ttf"),
        url("./fonts/Inter/static/Inter-Bold.ttf") format("ttf"),
        url("./fonts/Inter/static/Inter-SemiBold.ttf") format("ttf");
}

:root {
    font-family: "Inter";
    background: url(./media/GLOBAL_CUISINE.jpg);
    background-size: cover;
    --black: #1E1E1E;
    --white: #FFFFFF;
    --green: #C8D29E;
    --red: #C58B93;
}