@font-face {
    font-family: "Inter", sans-serif;
    font-family: "Lateef", serif;
    src: url("./fonts/Inter/static/Inter-Regular.ttf") format("ttf"),
        url("./fonts/Lateef/Lateef-Regular.ttf") format("ttf");
}

:root {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    --black: #1E1E1E;
    --white: #FFFFFF;
    --green: #C8D29E;
    --red: #C58B93;
    --blue: #4b81bd;
    background-color: var(--black);
}

::selection {
    background-color: var(--blue);
}

/* -- HEADER -- */

nav {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: var(--white);
    transition: 0.3s ease;
}

a:hover {
    cursor: pointer;
    transition: 0.3s ease;
}

#logo {
    font-family: "Lateef", serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 75%;
}

#logo p {
    margin: 0;
}

#wrapper {
    width: 100%;
}

#links {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: -1.75px;
    width: 75%;
}

#links a {
    font-size: 18px;
    border: 1px solid var(--white);
    padding: 8px 20px;
}

#links a:hover {
    color: var(--black);
    background-color: var(--white);
}

#links #book:hover {
    color: var(--white);
    background-color: var(--blue);
}

#hero-links {
    display: flex;
    padding: 5% 0;
    gap: 20px;
}

ul > li {
    list-style-type: none;
}

#book {
    color: var(--black);
    background-color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* -- SOCIALS -- */

#socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

#github, #instagram {
    width: 36px;
    height: 36px;
}

#github:hover, #instagram:hover {
    cursor: pointer;
}

/* -- TITLE -- */

#first {
    font-family: "Lateef", serif;
    font-weight: 400;
    font-size: 140px;
    color: var(--white);
    margin: 0;
}

#second {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size:  22px;
    color: var(--white);
    letter-spacing: -2px;
    margin: 0;
}