@font-face {
    font-family: "Inter", sans-serif;
    src: url("./fonts/Inter/static/Inter-Regular.ttf") format("ttf"),
        url("./fonts/Inter/static/Inter-Bold.ttf") format("ttf"),
        url("./fonts/Inter/static/Inter-SemiBold.ttf") format("ttf");
}

:root {
    font-family: "Inter";
    background: url(./media/GLOBAL_CUISINE.jpg);
    background-size: cover;
    --black: #2B2B2B;
    --white: white;
    --blue: #364C62;
    --yellow: #FEF9CE;
    --strongYellow: #fff396;
    --purple: #CEA8E6;
    --green: #94DFC0;
    --red: #CD7860;
}